/* 立即领取部分开始 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout {
    width: 100%;
    padding: 0 0.3rem;
    position: relative;
    box-sizing: border-box;
}

.layout .soonTicket{
	padding-top: 0.3rem;
}
.layout .soonTicket .soonTop{
    font-size: 0.5rem;
    color: #333;
    font-weight: normal;
   margin-bottom: 0.3rem;
    
}
.layout .soonTicket h6 {
    font-size: 0.3rem;
    color: #999;
  height: 0.35rem;
   
}
.layout input {
    width: 6.9rem;
    height: 1rem;
    font-size: 0.3rem;
    line-height: 1rem;
    background-color: #f2f2f2;
    margin: 0.2rem 0 0.1rem 0;
    border: none;
    padding-left: 0.3rem;
}

.checkNum {
    width: 100%;
}

.checkNum .yzm {
    display: block;
    width: 68%;
    float: left;
}

.checkNum a {
    display: block;
    width: 28%;
    float: right;
    height: 1rem;
    border-radius: 5px;
    background-color: #e50834;
    text-align: center;
    line-height: 1rem;
    color: #fff;
    font-size: 0.3rem;
    margin-top: 0.18rem;
}

.layout .btn {
    width: 6.9rem;
    height: 1rem;
    line-height: 1rem;
    background-color: #e50834;
    text-align: center;
    font-size: 0.32rem;
    border-radius: 0.12rem;
    margin-top: 0.7rem;
    margin-bottom: 0.3rem;
}

.layout .btn a {
    color: #fff;
}

.layout p {
    font-size: 0.26rem;
    color: #999;
    text-align: center;
}

.layout p span {
    font-size: 0.26rem;
    color: #e50834;
}

.layout .downUser {
    margin-top: 1.6rem;
    margin-bottom: 2.3rem;
}

.layout .bottom-hn {
    font-size: 0.28rem;
    color: #999;
    text-align: center;
    position: absolute;
    bottom: -1.6rem;
    left: 50%;
    margin-left: -1.5rem;
}

p img {
    display: inline-block;
    width: 0.24rem;
    height: 0.24rem;
}

/* 立即领取部分 结束*/

/* 领取停车券 开始 */

html,
body {
    background-color: #fff;
}

.get {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}

.get .bg {
    width: 100%;
    box-sizing: border-box;
}

.get img {
    width: 100%;
    display: block;
}

.container {
    position: absolute;
    top: 3.3rem;
    left: 50%;
    width: 6rem;
    margin-left: -3rem;
    text-align: center;
}

.container h3 {
    font-size: 0.36rem;
    color: #333;
    font-weight: normal;
    margin-bottom: 0.5rem;
}

.cont {
    width: 100%;
    padding: 0.3rem 0.4rem;
    color: #fff;
    background-color: #d83f31;
}

.contTop h4 {
    float: left;
    font-size: 0.34rem;
    font-weight: normal;
}

.contTop {
    height: 0.5rem;
    line-height: 0.5rem;
}

.contTop .time {
    /* width: 0.5rem;*/
    text-align: bottom;
    position: relative;
}

.contTop .time .num {
    display: inline-block;
    font-size: 0.6rem;
}

.contTop .time .h {
    display: inline-block;
    font-size: 0.24rem;
    position: absolute;
    top: 0.13rem;
    left: 0.7rem;
}

.container .cont .car {
    font-size: 0.24rem;
    color: rgba(255, 255, 255, .6);
    margin-top: 0.4rem;
}

.contBottom {
    width: 100%;
    position: relative;
}

.contBottom ul {
    position: absolute;
    top: -0.04rem;
    left: 0;
}

.contBottom ul li {
    width: 0.1rem;
    height: 0.1rem;
    margin-right: 0.1rem;
    border-radius: 50%;
    background-color: #eee;
    float: right;
}

.container p {
    font-size: 0.22rem;
    color: #adadad;
    text-align: left;
    background-color: #eee;
    padding-left: 0.2rem;
    height: 0.32rem;
    line-height: 0.32rem;
}

.getCoupon {
    width: 6.4rem;
    height: 0.88rem;
    background-color: #ffcd35;
    border-radius: 1rem;
    position: absolute;
    margin-left: 0.55rem;
    margin-right: 0.55rem;
    bottom: -3.9rem;
    left: -0.75rem;
    text-align: center;
    line-height: 0.88rem;
    font-size: 0.34rem;
    color: #805239;
}

/* 领取停车券 结束 */

/* 领取停车券成功 开始 */

.success {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #ececec;
}

.sucTop {
    box-sizing: border-box;
    width: 100%;
}

.sucTop img {
    width: 100%;
    display: block;
}

.coupon {
    position: absolute;
    top: 0.6rem;
    left: 1.9rem;
    color: #fff;
    width: 3.5rem;
    text-align: center;
}

.coupon h4,
.coupon h3 {
    font-weight: normal;
    font-size: 0.32rem;
    margin-bottom: 0.2rem;
}

.coupon h3 {
    font-size: 0.4rem;
    margin-bottom: 0.4rem;
}

.coupon p {
    font-size: 0.26rem;
    color: #fff;
    margin-bottom: 0.1rem;
}

.suc_b {
    background-color: #ececec;
    width: 100%;
    /* height: 9.4rem; */
    padding-bottom: 3.2rem;
    padding-top: 0.2rem;
}

.parkingAddress {
    width: 100%;
    height: 1rem;
    background-color: #fff;
    line-height: 1rem;
    padding: 0 0.3rem;
}

.parkingAddress .parkingName {
    color: #999;
    font-size: 0.3rem;
}

.parkingAddress .parkingFloor {
    font-size: 0.28rem;
    color: #333;
}

.downTop {
    width: 6.9rem;
    height: 0.9rem;
    background-color: #e50834;
    line-height: 0.9rem;
    position: relative;
    color: #fff;
    border-radius: 0.12rem;
    margin: 0.8rem 0.3rem 0.6rem 0.3rem;
}

.downTop img {
    display: inline-block;
    margin-left: 1.7rem;
    width: 0.29rem;
    height: 0.38rem;
}

.downTop .down {
    position: absolute;
    top: 0;
    left: 2.2rem;
    font-size: 0.32rem;
}

.info {
    width: 6.9rem;
    color: #666;
    margin-bottom: 2.8rem;
    position: relative;
    margin: 0 auto;
}

.info p {
    font-size: 0.28rem;
    text-align: left;
    padding: 0 0.3rem;
    font-size: 0.28rem;
    line-height: 0.38rem;
}

.info .act {
    font-size: 0.3rem;
    color: #333;
    text-align: center;
    margin: 0 0.3rem;
    padding-bottom: 0.3rem;
}

.info .line {
    width: 6.9rem;
    position: absolute;
    top: 0.2rem;
    left: 0;
}

.info .lineL,
.info .lineR {
    width: 2.7rem;
    height: 1px;
    background-color: #818181;
}

/* 领取停车券成功 结束 */

/* * 输入车牌号开始 */

/* .num {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 0.3rem;
    position: relative;
}

.num  h4{
    text-align:center;
    font-weight: normal;
    margin: 0.6rem 0 0.8rem 0;
    color:#333;
    font-size: 0.32rem;

}
.num input{
    padding-left: 0.3rem;
    font-size: 0.3rem;
    color: #ccc;
    
    margin-bottom: 0.6rem;

}
.num .submit{
    width: 6.9rem;
    height: 1rem;
    line-height: 1rem;
    background-color: #e50834;
    color: #fff;
    text-align: center;
    font-size: 0.32rem;
    border-radius: 10px;
     margin-bottom:0.3rem;
}
.num p{
    text-align: center;
    font-size: 0.26rem;
    color:#999;
    padding:0 0.8rem;
}
.num .bottom-hn {
    font-size: 0.28rem;
    color: #999;
    text-align:center;
    position: absolute;
    bottom:-5.5rem;
    left:50%;
    margin-left: -1.5rem;
} */

/* 输入车牌号结束 */